<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <title>leisure deals</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="b9rljgI7FUXhhElSBOkZsUepogxT4rb0OS7B4Hd6ktrLFPKZCTAKhSqaJLSX8geEenUpoFO7m5iIcFPmeDjHGg==" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    
  </head>
  <body>
    <header class='header'>
      <nav class='navbar navbar-default' role='navigation'>
        <div class='container'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='navbar-header'>
                <a class='navbar-brand' href='/'>
                  <i class="fa fa-ticket"></i>
                  <span>leisure deals</span>
                </a>
              </div>
              <div class='navbar-collapse collapse'>
                <ul class='nav nav-pills nav-main pull-right'>
                  <li class='dropdown'>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
                    <ul class='dropdown-menu'>
                      <li><a href="/deal_categories/travel">Travel</a></li>
                      <li><a href="/deal_categories/wellness">Wellness</a></li>
                      <li><a href="/deal_categories/activities">Activities</a></li>
                    </ul>
                  </li>
                  <li class='dropdown'>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/home/how_to">How it Works</a>
                    <ul class='dropdown-menu'>
                      <li><a href="/home/how_to#how-it-works">Description</a></li>
                      <li><a href="/home/how_to#partners">Partners</a></li>
                      <li><a href="/home/how_to#values">Our Values</a></li>
                    </ul>
                  </li>
                  <li class='dropdown'>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/home/about">About</a>
                    <ul class='dropdown-menu'>
                      <li><a href="/home/about#who-we-are">About Us</a></li>
                      <li><a href="/home/about#impressum">Impressum</a></li>
                    </ul>
                  </li>
                  <li><a href="mailto:office@pickled-olives.com">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class='intro'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12 text-center'>
            <div class='intro-content'>
              <h1>404 - Site does not exist</h1>
              <h2>We are sorry, the content requested does not exist or has moved.</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-4'>
            <div class='footeritem'>
              <h4>Deal Categories</h4>
              <ul class='popular-posts'>
                <li><a href="/deal_categories/travel">Travel</a></li>
                <li><a href="/deal_categories/wellness">Wellness</a></li>
                <li><a href="/deal_categories/activities">Activities</a></li>
              </ul>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-4'>
            <div class='footeritem'>
              <h4>Keep updated?</h4>
              <p>Want the hottest deals and campaigns on top of listings here? Enter your email address and get hottest deals per email.</p>
              <form action='newsletter.php' id='contactform' method='post' name='contactform'>
                <fieldset>
                  <label accesskey='E' for='email'></label>
                  <input class='email' id='email' name='email' placeholder='Email address' size='30' type='text' value=''>
                  <button class='btn btn-border submit' id='submit' type='submit' value='submit'>
                    <i class='fa fa-rocket'></i>
                    Send
                  </button>
                </fieldset>
              </form>
              <div id='message'></div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-4'>
            <div class='footeritem'>
              <h4>Visit us on Facebook</h4>
              <p>Keep track on special actions and extra hot deals on our Facebook page.</p>
              <a class='btn btn-border' href='#'>Visit Facebook</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a class='scrollToTop' href='#'>
      <i class='fa fa-angle-up'></i>
    </a>
    <footer class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12'>
            <p>
              &copy; Pickled Olives Software 2015. leisure deals is Proud Beta Test Partner of
              <a style="color: white;" href="http://www.xapix.io">xapix.io</a>
              !
            </p>
          </div>
        </div>
      </div>
    </footer>
    
    <%= javascript_include_tag 'application' %>
  </body>
</html>


